.title {
    // position: -webkit-sticky;
    // position: sticky;
    // top: 20px;
    font-size: 4rem;

    @media screen and (max-height: 600px) {
    // h1  {
        font-size: 3.5em;
    // }
    }
    @media screen and (max-width: 1100px) {
        font-size: 3rem;
    }
}