.scrollButton {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    width: 110px;
    width: max-content;
    // font-family: 'Open Sans'
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    cursor: pointer;

    @media screen and (max-width: 400px) {
        background: url("../images/outline-keyboard_arrow_down-24px.svg") center / contain no-repeat;
        opacity: 0.75;
        color: transparent;
        border: none;
    }
}